.background{
    background-image: url(background.png);
    background-size: cover;
    overflow: hidden;
}



.boy{
    height: 250px;
    margin-top:340px;
    margin-left: 40px;
    position: absolute;
    
}

.score{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    margin-top: 40px;
    margin-left: 20px;
    position: absolute;
}

.bullet{
    height: 40px;
    margin-top: 490px;
    margin-left: 400px;
    position: absolute;
}